  .grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: #555555;
    padding: 10px;
  }
  .grid-item {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-photos1 {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #555555;
  }
  img {
    width: 500px;
    height: 250px;
  }
  .p1 {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #c0c0c0a2;
  }
  .nav {
    position: fixed;
    top: 0;
    z-index: 5;
  }